.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;

  --md-dialog-container-shape: 4px;
}

.App-header {
  display: grid;
  grid:
    [row-start] 'notifications hero settings' [row-end]
    / 3rem auto 3rem;
  width: 100%;
}

.App-header > h1 {
  cursor: default;
  font-family: 'Pacifico', cursive;
  grid-area: hero;
  margin: 1rem 0;
  place-self: center;
  user-select: none;
}

.App-notifications {
  display: flex;
  grid-area: notifications;
  margin: 1rem;
  place-self: start start;
}

.App-settings {
  display: flex;
  grid-area: settings;
  margin: 1rem;
  place-self: start end;
}

.App-nav {
  margin-bottom: 1.8rem;
}

.App-content {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-main {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

[data-amplify-authenticator] {
  text-align: left;
  --amplify-components-tabs-item-active-color: var(--md-sys-color-primary);
  --amplify-components-tabs-item-active-border-color: var(--md-sys-color-primary);
  --amplify-components-tabs-item-active-background-color: transparent;
  --amplify-components-tabs-item-hover-color: var(--md-sys-color-primary);
  --amplify-components-tabs-item-font-size: calc(10px + 2vmin);
  --amplify-components-button-primary-background-color: var(--md-sys-color-primary);
  --amplify-components-button-primary-hover-background-color: var(--md-ref-palette-primary20);
  --amplify-components-button-primary-active-background-color: var(--md-ref-palette-primary10);
  --amplify-components-button-primary-focus-background-color: var(--md-ref-palette-primary20);
  --amplify-components-button-hover-background-color: var(--md-sys-color-surface-container);
  --amplify-components-button-hover-border-color: var(--md-sys-color-primary);
  --amplify-components-button-hover-color: var(--md-sys-color-primary);
  --amplify-components-button-active-background-color: var(--md-sys-color-surface-container-highest);
  --amplify-components-button-active-border-color: var(--md-sys-color-primary);
  --amplify-components-button-active-color: var(--md-sys-color-primary);
  --amplify-components-button-focus-background-color: var(--md-sys-color-surface-container);
  --amplify-components-button-focus-color: var(--md-sys-color-primary);
  --amplify-components-button-link-color: var(--md-sys-color-primary);
  --amplify-components-button-link-hover-background-color: var(--md-sys-color-surface-container);
  --amplify-components-button-link-hover-color: var(--md-sys-color-primary);
  --amplify-components-button-link-active-background-color: var(--md-sys-color-surface-container-highest);
  --amplify-components-button-link-active-color: var(--md-sys-color-primary);
  --amplify-components-button-link-focus-background-color: var(--md-sys-color-surface-container);
  --amplify-components-button-link-focus-color: var(--md-sys-color-primary);
  --amplify-components-passwordfield-button-hover-background-color: var(--md-sys-color-surface-container);
  --amplify-components-passwordfield-button-hover-border-color: var(--md-sys-color-primary);
  --amplify-components-passwordfield-button-hover-color: var(--md-sys-color-primary);
  --amplify-components-passwordfield-button-active-background-color: var(--md-sys-color-surface-container-highest);
  --amplify-components-passwordfield-button-active-border-color: var(--md-sys-color-primary);
  --amplify-components-passwordfield-button-active-color: var(--md-sys-color-primary);
}

[data-amplify-authenticator] [data-amplify-router] {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  border-width: 0;
  border-style: none;
}

.amplify-tabs__list--top {
  --internal-item-border-width: 0 0 var(--amplify-components-tabs-border-width) 0;;
}
