.UpgradeSettings {
  width: 100%;
  max-width: 90%;
}

/* .UpgradeSettings-heading {
} */

.UpgradeSettings-tier-section {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.UpgradeSettings-heading-tier {
  color: var(--md-sys-color-secondary-on-background);
}

.UpgradeSettings-list {
  padding-top: 2rem;
  margin-top: 2rem;
  background: none;
  text-align: left;
}
