.UserSettings-dialog {
  width: 20rem;
  max-width: 90%;
  min-width: 30%;
}

.UserSettings-list {
  text-align: left;
  background-color: var(--md-sys-color-surface-container-high);
  --md-list-container-color: var(--md-sys-color-surface-container-high);
  --md-list-item-label-text-color: var(--md-sys-color-on-surface);
}
