.ChannelHeader {
  display: grid;
  grid:
    [row-start] '. title share' [row-end]
    / 5rem auto 5rem;
}

.ChannelHeader-title {
  grid-area: title;
}

.ChannelHeader-input {
  margin: 1rem 0;
  resize: vertical;
  text-align: left;
}

.ChannelHeader-share {
  grid-area: share;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChannelHeader-share-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.ChannelHeader-share-button {
  display: flex;
  padding-top: 1.05rem;
}

.ChannelHeader-copied {
  font-size: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: default;
  user-select: none;
}
.ChannelHeader-copied.hidden {
  color: rgba(0, 0, 0, 0);
}
