.ChannelHeader {
  column-gap: 1rem;
  display: grid;
  grid:
    [row-start] '. title actions' [row-end]
    / 2rem auto 2rem;
  width: 100%;
}

.ChannelHeader-title {
  grid-area: title;
}

.ChannelHeader-input {
  margin: 1rem 0;
  resize: both;
  text-align: left;
}

.ChannelHeader-actions {
  grid-area: actions;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1.5rem 0;
}

.ChannelHeader-edit-actions-wrapper {
  display: flex;
  justify-content: space-between;
}

.ChannelHeader-share-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.ChannelHeader-copied {
  cursor: default;
  font-size: 0.7rem;
  margin-top: 0.2rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.ChannelHeader-copied.hidden {
  color: rgba(0, 0, 0, 0);
}
