.EditChannel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.EditChannel-header-title-input {
  resize: both;
  text-align: left;
  height: min-content;
  width: 100%;
  margin-bottom: 1.8rem;
}

.EditChannel-note-input {
  margin-bottom: 1.8rem;
  resize: both;
  text-align: left;
}

.EditChannel-options {
  display: flex;
  gap: 1rem;
}

.EditChannel-capacity-input {
  margin-bottom: 1.8rem;
  width: 10rem;
}

.EditChannel-capacity-info-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.EditChannel-capacity-info-icon {
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
}

.EditChannel-duration-select {
  min-width: 10rem;
  margin-bottom: 1.8rem;
}

.EditChannel-duration-select md-select-option {
  min-width: 10rem;
}

.EditChannel-save-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.8rem;
}

.EditChannel-header-button-close {
  --md-icon-button-icon-color: var(--md-sys-color-error, red);
  --_disabled-icon-color: var(--md-sys-color-error, red);
  --_selected-focus-icon-color: var(--md-sys-color-error, red);
  --_selected-hover-icon-color: var(--md-sys-color-error, red);
  --_selected-hover-state-layer-color: var(--md-sys-color-error, red);
  --_selected-icon-color: var(--md-sys-color-error, red);
  --_selected-pressed-icon-color: var(--md-sys-color-error, red);
  --_selected-pressed-state-layer-color: var(--md-sys-color-error, red);
  --_focus-icon-color: var(--md-sys-color-error, red);
  --_hover-icon-color: var(--md-sys-color-error, red);
  --_hover-state-layer-color: var(--md-sys-color-error, red);
  --_icon-color: var(--md-sys-color-error, red);
  --_pressed-icon-color: var(--md-sys-color-error, red);
  --_pressed-state-layer-color: var(--md-sys-color-error, red);
  --_selected-pressed-state-layer-color: var(--md-sys-color-error, red);
}

.EditChannel-header-button-save {
  --md-icon-button-icon-color: var(--md-sys-color-success, green);
  --_disabled-icon-color: var(--md-sys-color-success, green);
  --_selected-focus-icon-color: var(--md-sys-color-success, green);
  --_selected-hover-icon-color: var(--md-sys-color-success, green);
  --_selected-hover-state-layer-color: var(--md-sys-color-success, green);
  --_selected-icon-color: var(--md-sys-color-success, green);
  --_selected-pressed-icon-color: var(--md-sys-color-success, green);
  --_selected-pressed-state-layer-color: var(--md-sys-color-success, green);
  --_focus-icon-color: var(--md-sys-color-success, green);
  --_hover-icon-color: var(--md-sys-color-success, green);
  --_hover-state-layer-color: var(--md-sys-color-success, green);
  --_icon-color: var(--md-sys-color-success, green);
  --_pressed-icon-color: var(--md-sys-color-success, green);
  --_pressed-state-layer-color: var(--md-sys-color-success, green);
  --_selected-pressed-state-layer-color: var(--md-sys-color-success, green);
}

.EditChannel-button-close {
  --md-outlined-button-outline-color: var(--md-sys-color-error, red);
  --md-outlined-button-label-text-color: var(--md-sys-color-error, red);
  --_disabled-icon-color: var(--md-sys-color-error, red);
  --_disabled-label-text-color: var(--md-sys-color-error, red);
  --_disabled-outline-color: var(--md-sys-color-error, red);
  --_selected-focus-icon-color: var(--md-sys-color-error, red);
  --_selected-hover-icon-color: var(--md-sys-color-error, red);
  --_selected-hover-state-layer-color: var(--md-sys-color-error, red);
  --_selected-icon-color: var(--md-sys-color-error, red);
  --_selected-pressed-icon-color: var(--md-sys-color-error, red);
  --_selected-pressed-state-layer-color: var(--md-sys-color-error, red);
  --_focus-icon-color: var(--md-sys-color-error, red);
  --_focus-label-text-color: var(--md-sys-color-error, red);
  --_hover-icon-color: var(--md-sys-color-error, red);
  --_hover-state-layer-color: var(--md-sys-color-error, red);
  --_hover-label-text-color: var(--md-sys-color-error, red);
  --_icon-color: var(--md-sys-color-error, red);
  --_pressed-icon-color: var(--md-sys-color-error, red);
  --_pressed-state-layer-color: var(--md-sys-color-error, red);
  --_pressed-label-text-color: var(--md-sys-color-error, red);
  --_pressed-outline-color: var(--md-sys-color-error, red);
  --_selected-pressed-state-layer-color: var(--md-sys-color-error, red);
}

.EditChannel-button-save {
  --md-outlined-button-outline-color: var(--md-sys-color-success, green);
  --md-outlined-button-label-text-color: var(--md-sys-color-success, green);
  --_disabled-label-text-color: var(--md-sys-color-success, green);
  --_disabled-icon-color: var(--md-sys-color-success, green);
  --_disabled-outline-color: var(--md-sys-color-success, green);
  --_selected-focus-icon-color: var(--md-sys-color-success, green);
  --_selected-hover-icon-color: var(--md-sys-color-success, green);
  --_selected-hover-state-layer-color: var(--md-sys-color-success, green);
  --_selected-icon-color: var(--md-sys-color-success, green);
  --_selected-pressed-icon-color: var(--md-sys-color-success, green);
  --_selected-pressed-state-layer-color: var(--md-sys-color-success, green);
  --_focus-icon-color: var(--md-sys-color-success, green);
  --_focus-label-text-color: var(--md-sys-color-success, green);
  --_hover-icon-color: var(--md-sys-color-success, green);
  --_hover-state-layer-color: var(--md-sys-color-success, green);
  --_hover-label-text-color: var(--md-sys-color-success, green);
  --_icon-color: var(--md-sys-color-success, green);
  --_pressed-icon-color: var(--md-sys-color-success, green);
  --_pressed-state-layer-color: var(--md-sys-color-success, green);
  --_pressed-label-text-color: var(--md-sys-color-success, green);
  --_pressed-outline-color: var(--md-sys-color-success, green);
  --_selected-pressed-state-layer-color: var(--md-sys-color-success, green);
}
