.ShareChannelButton {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  position: relative;
}

.ShareChannelButton.large {
  height: 4rem;
  justify-content: start;
}

.ShareChannelButton-copied {
  cursor: default;
  font-size: 0.7rem;
  margin-top: 0.2rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
  position: absolute;
  top: 40px;
}
.ShareChannelButton-copied.hidden {
  color: rgba(0, 0, 0, 0);
}
