.ExpiredSubscription {
  display: flex;
  align-items: center;
}
.ExpiredSubscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: min-content;
  margin-top: 0.1em;
}
