.CreateChannel {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.CreateChannel-form {
  display: flex;
}

.CreateChannel-input {
}

.CreateChannel-button {
  display: flex;
  align-items: center;
}

.CreateChannel-cancel {
}
