.ChannelSubscribers {
  border-radius: 12px;
  position: relative;
  width: 100%;
  text-align: left;
}

.ChannelSubscribers-list {
  border-radius: 12px;
}

.ChannelSubscribers-list-item {
  position: relative;
}

.ChannelSubscribers-spinner-container {
  display: flex;
  padding-top: 1rem;
  text-align: center;
}
